.container {width: 100%; padding: 0 10px; margin: 0 auto;}

.container__body {
    margin-right: 0px;
    margin-left: 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px
}
.row-cols-auto > * {flex: 0 0 auto; width: auto;}
.row-cols-1 > * {flex: 0 0 auto; width: 100%;}
.row-cols-2 > * {flex: 0 0 auto; width: 50%;}
.row-cols-3 > * {flex: 0 0 auto; width: 33.3333333333%;}
.row-cols-4 > * {flex: 0 0 auto; width: 25%;}
.row-cols-5 > * {flex: 0 0 auto; width: 20%;}
.row-cols-6 > * {flex: 0 0 auto; width: 16.6666666667%;}

.col {flex: 1 0 0%;}
.col-auto {flex: 0 0 auto; width: auto;}
.col-1  {flex: 0 0 auto; width: 8.33333333%;}
.col-2  {flex: 0 0 auto; width: 16.66666667%;}
.col-3  {flex: 0 0 auto; width: 25%;}
.col-4  {flex: 0 0 auto; width: 33.33333333%;}
.col-5  {flex: 0 0 auto; width: 41.66666667%;}
.col-6  {flex: 0 0 auto; width: 50%;}
.col-7  {flex: 0 0 auto; width: 58.33333333%;}
.col-8  {flex: 0 0 auto; width: 66.66666667%;}
.col-9  {flex: 0 0 auto; width: 75%;}
.col-10 {flex: 0 0 auto; width: 83.33333333%;}
.col-11 {flex: 0 0 auto; width: 91.66666667%;}
.col-12 {flex: 0 0 auto; width: 100%;}


.offset-1  {margin-left: 8.33333333%;}
.offset-2  {margin-left: 16.66666667%;}
.offset-3  {margin-left: 25%;}
.offset-4  {margin-left: 33.33333333%;}
.offset-5  {margin-left: 41.66666667%;}
.offset-6  {margin-left: 50%;}
.offset-7  {margin-left: 58.33333333%;}
.offset-8  {margin-left: 66.66666667%;}
.offset-9  {margin-left: 75%;}
.offset-10 {margin-left: 83.33333333%;}
.offset-11 {margin-left: 91.66666667%;}

.col-hide {display: none !important;}


/** Small (sm) **/
@media (min-width: 576px) {
    .container {max-width: 540px;}

    .container__body {
        margin-right: -10px;
        margin-left: -10px;
    }

    .row-cols-sm-auto > * {flex: 0 0 auto; width: auto;}
    .row-cols-sm-1 > * {flex: 0 0 auto; width: 100%;}
    .row-cols-sm-2 > * {flex: 0 0 auto; width: 50%;}
    .row-cols-sm-3 > * {flex: 0 0 auto; width: 33.3333333333%;}
    .row-cols-sm-4 > * {flex: 0 0 auto; width: 25%;}
    .row-cols-sm-5 > * {flex: 0 0 auto; width: 20%;}
    .row-cols-sm-6 > * {flex: 0 0 auto; width: 16.6666666667%;}

    .col-sm {flex: 1 0 0%;}
    .col-sm-auto {flex: 0 0 auto; width: auto;}
    .col-sm-1  {flex: 0 0 auto; width: 8.33333333%;}
    .col-sm-2  {flex: 0 0 auto; width: 16.66666667%;}
    .col-sm-3  {flex: 0 0 auto; width: 25%;}
    .col-sm-4  {flex: 0 0 auto; width: 33.33333333%;}
    .col-sm-5  {flex: 0 0 auto; width: 41.66666667%;}
    .col-sm-6  {flex: 0 0 auto; width: 50%;}
    .col-sm-7  {flex: 0 0 auto; width: 58.33333333%;}
    .col-sm-8  {flex: 0 0 auto; width: 66.66666667%;}
    .col-sm-9  {flex: 0 0 auto; width: 75%;}
    .col-sm-10 {flex: 0 0 auto; width: 83.33333333%;}
    .col-sm-11 {flex: 0 0 auto; width: 91.66666667%;}
    .col-sm-12 {flex: 0 0 auto; width: 100%;}

    .offset-sm-0  {margin-left: 0;}
    .offset-sm-1  {margin-left: 8.33333333%;}
    .offset-sm-2  {margin-left: 16.66666667%;}
    .offset-sm-3  {margin-left: 25%;}
    .offset-sm-4  {margin-left: 33.33333333%;}
    .offset-sm-5  {margin-left: 41.66666667%;}
    .offset-sm-6  {margin-left: 50%;}
    .offset-sm-7  {margin-left: 58.33333333%;}
    .offset-sm-8  {margin-left: 66.66666667%;}
    .offset-sm-9  {margin-left: 75%;}
    .offset-sm-10 {margin-left: 83.33333333%;}
    .offset-sm-11 {margin-left: 91.66666667%;}

    .sm-hide {display: none !important;}
}

/** Medium (md) **/
@media (min-width: 768px) {
    .container {max-width: 720px;}

    .row-cols-md-auto > * {flex: 0 0 auto; width: auto;}
    .row-cols-md-1 > * {flex: 0 0 auto; width: 100%;}
    .row-cols-md-2 > * {flex: 0 0 auto; width: 50%;}
    .row-cols-md-3 > * {flex: 0 0 auto; width: 33.3333333333%;}
    .row-cols-md-4 > * {flex: 0 0 auto; width: 25%;}
    .row-cols-md-5 > * {flex: 0 0 auto; width: 20%;}
    .row-cols-md-6 > * {flex: 0 0 auto; width: 16.6666666667%;}

    .col-md {flex: 1 0 0%;}
    .col-md-auto {flex: 0 0 auto; width: auto;}
    .col-md-1  {flex: 0 0 auto; width: 8.33333333%;}
    .col-md-2  {flex: 0 0 auto; width: 16.66666667%;}
    .col-md-3  {flex: 0 0 auto; width: 25%;}
    .col-md-4  {flex: 0 0 auto; width: 33.33333333%;}
    .col-md-5  {flex: 0 0 auto; width: 41.66666667%;}
    .col-md-6  {flex: 0 0 auto; width: 50%;}
    .col-md-7  {flex: 0 0 auto; width: 58.33333333%;}
    .col-md-8  {flex: 0 0 auto; width: 66.66666667%;}
    .col-md-9  {flex: 0 0 auto; width: 75%;}
    .col-md-10 {flex: 0 0 auto; width: 83.33333333%;}  
    .col-md-11 {flex: 0 0 auto; width: 91.66666667%;}
    .col-md-12 {flex: 0 0 auto; width: 100%;}

    .offset-md-0  {margin-left: 0;}
    .offset-md-1  {margin-left: 8.33333333%;}
    .offset-md-2  {margin-left: 16.66666667%;}
    .offset-md-3  {margin-left: 25%;}
    .offset-md-4  {margin-left: 33.33333333%;}
    .offset-md-5  {margin-left: 41.66666667%;}
    .offset-md-6  {margin-left: 50%;}
    .offset-md-7  {margin-left: 58.33333333%;}
    .offset-md-8  {margin-left: 66.66666667%;}
    .offset-md-9  {margin-left: 75%;}
    .offset-md-10 {margin-left: 83.33333333%;}
    .offset-md-11 {margin-left: 91.66666667%;}

    .md-hide {display: none !important;}
}

/** Large (lg) **/
@media (min-width: 992px) {
    .container {max-width: 960px;}

    .row-cols-lg-auto > * {flex: 0 0 auto; width: auto;}
    .row-cols-lg-1 > * {flex: 0 0 auto; width: 100%;}
    .row-cols-lg-2 > * {flex: 0 0 auto; width: 50%;}
    .row-cols-lg-3 > * {flex: 0 0 auto; width: 33.3333333333%;}
    .row-cols-lg-4 > * {flex: 0 0 auto; width: 25%;}
    .row-cols-lg-5 > * {flex: 0 0 auto; width: 20%;}
    .row-cols-lg-6 > * {flex: 0 0 auto; width: 16.6666666667%;}

    .col-lg {flex: 1 0 0%;}
    .col-lg-auto {flex: 0 0 auto; width: auto;}
    .col-lg-1  {flex: 0 0 auto; width: 8.33333333%;}
    .col-lg-2  {flex: 0 0 auto; width: 16.66666667%;}
    .col-lg-3  {flex: 0 0 auto; width: 25%;}
    .col-lg-4  {flex: 0 0 auto; width: 33.33333333%;}
    .col-lg-5  {flex: 0 0 auto; width: 41.66666667%;}
    .col-lg-6  {flex: 0 0 auto; width: 50%;}
    .col-lg-7  {flex: 0 0 auto; width: 58.33333333%;}
    .col-lg-8  {flex: 0 0 auto; width: 66.66666667%;}
    .col-lg-9  {flex: 0 0 auto; width: 75%;}
    .col-lg-10 {flex: 0 0 auto; width: 83.33333333%;}
    .col-lg-11 {flex: 0 0 auto; width: 91.66666667%;}
    .col-lg-12 {flex: 0 0 auto; width: 100%;}

    .offset-lg-0  {margin-left: 0;}
    .offset-lg-1  {margin-left: 8.33333333%;}
    .offset-lg-2  {margin-left: 16.66666667%;}
    .offset-lg-3  {margin-left: 25%;}
    .offset-lg-4  {margin-left: 33.33333333%;}
    .offset-lg-5  {margin-left: 41.66666667%;}
    .offset-lg-6  {margin-left: 50%;}
    .offset-lg-7  {margin-left: 58.33333333%;}
    .offset-lg-8  {margin-left: 66.66666667%;}
    .offset-lg-9  {margin-left: 75%;}
    .offset-lg-10 {margin-left: 83.33333333%;}
    .offset-lg-11 {margin-left: 91.66666667%;}

    .lg-hide {display: none !important;}
}

/** Extra large (xl) **/
@media (min-width: 1200px) {
    .container {max-width: 1140px;}

    .row-cols-xl-auto > * {flex: 0 0 auto; width: auto;}
    .row-cols-xl-1 > * {flex: 0 0 auto; width: 100%;}
    .row-cols-xl-2 > * {flex: 0 0 auto; width: 50%;}
    .row-cols-xl-3 > * {flex: 0 0 auto; width: 33.3333333333%;}
    .row-cols-xl-4 > * {flex: 0 0 auto; width: 25%;}
    .row-cols-xl-5 > * {flex: 0 0 auto; width: 20%;}
    .row-cols-xl-6 > * {flex: 0 0 auto; width: 16.6666666667%;}

    .col-xl {flex: 1 0 0%;}
    .col-xl-auto {flex: 0 0 auto; width: auto;}
    .col-xl-1  {flex: 0 0 auto; width: 8.33333333%;}
    .col-xl-2  {flex: 0 0 auto; width: 16.66666667%;}
    .col-xl-3  {flex: 0 0 auto; width: 25%;}
    .col-xl-4  {flex: 0 0 auto; width: 33.33333333%;}
    .col-xl-5  {flex: 0 0 auto; width: 41.66666667%;}
    .col-xl-6  {flex: 0 0 auto; width: 50%;}
    .col-xl-7  {flex: 0 0 auto; width: 58.33333333%;}
    .col-xl-8  {flex: 0 0 auto; width: 66.66666667%;}
    .col-xl-9  {flex: 0 0 auto; width: 75%;}
    .col-xl-10 {flex: 0 0 auto; width: 83.33333333%;}
    .col-xl-11 {flex: 0 0 auto; width: 91.66666667%;}
    .col-xl-12 {flex: 0 0 auto; width: 100%;}

    .offset-xl-0  {margin-left: 0;}
    .offset-xl-1  {margin-left: 8.33333333%;}
    .offset-xl-2  {margin-left: 16.66666667%;}
    .offset-xl-3  {margin-left: 25%;}
    .offset-xl-4  {margin-left: 33.33333333%;}
    .offset-xl-5  {margin-left: 41.66666667%;}
    .offset-xl-6  {margin-left: 50%;}
    .offset-xl-7  {margin-left: 58.33333333%;}
    .offset-xl-8  {margin-left: 66.66666667%;}
    .offset-xl-9  {margin-left: 75%;}
    .offset-xl-10 {margin-left: 83.33333333%;}
    .offset-xl-11 {margin-left: 91.66666667%;}

    .xl-hide {display: none !important;}
}

/** Extra extra large (xxl) **/
@media (min-width: 1400px) {
    .container {max-width: 1320px;}

    .row-cols-xxl-auto > * {flex: 0 0 auto; width: auto;}
    .row-cols-xxl-1 > * {flex: 0 0 auto; width: 100%;}
    .row-cols-xxl-2 > * {flex: 0 0 auto; width: 50%;}
    .row-cols-xxl-3 > * {flex: 0 0 auto; width: 33.3333333333%;}
    .row-cols-xxl-4 > * {flex: 0 0 auto; width: 25%;}
    .row-cols-xxl-5 > * {flex: 0 0 auto; width: 20%;}
    .row-cols-xxl-6 > * {flex: 0 0 auto; width: 16.6666666667%;}

    .col-xxl {flex: 1 0 0%;}
    .col-xxl-auto {flex: 0 0 auto; width: auto;}
    .col-xxl-1  {flex: 0 0 auto; width: 8.33333333%;}
    .col-xxl-2  {flex: 0 0 auto; width: 16.66666667%;}
    .col-xxl-3  {flex: 0 0 auto; width: 25%;}
    .col-xxl-4  {flex: 0 0 auto; width: 33.33333333%;}
    .col-xxl-5  {flex: 0 0 auto; width: 41.66666667%;}
    .col-xxl-6  {flex: 0 0 auto; width: 50%;}
    .col-xxl-7  {flex: 0 0 auto; width: 58.33333333%;}
    .col-xxl-8  {flex: 0 0 auto; width: 66.66666667%;}
    .col-xxl-9  {flex: 0 0 auto; width: 75%;}
    .col-xxl-10 {flex: 0 0 auto; width: 83.33333333%;}
    .col-xxl-11 {flex: 0 0 auto; width: 91.66666667%;}
    .col-xxl-12 {flex: 0 0 auto; width: 100%;}

    .offset-xxl-0  {margin-left: 0;}
    .offset-xxl-1  {margin-left: 8.33333333%;}
    .offset-xxl-2  {margin-left: 16.66666667%;}
    .offset-xxl-3  {margin-left: 25%;}
    .offset-xxl-4  {margin-left: 33.33333333%;}
    .offset-xxl-5  {margin-left: 41.66666667%;}
    .offset-xxl-6  {margin-left: 50%;}
    .offset-xxl-7  {margin-left: 58.33333333%;}
    .offset-xxl-8  {margin-left: 66.66666667%;}
    .offset-xxl-9  {margin-left: 75%;}
    .offset-xxl-10 {margin-left: 83.33333333%;}
    .offset-xxl-11 {margin-left: 91.66666667%;}

    .xxl-hide {display: none !important;}
}

/** Super large (sl) **/
@media (min-width: 2500px) {
    .container {max-width: 1900px;}

    .row-cols-sl-auto > * {flex: 0 0 auto; width: auto;}
    .row-cols-sl-1 > * {flex: 0 0 auto; width: 100%;}
    .row-cols-sl-2 > * {flex: 0 0 auto; width: 50%;}
    .row-cols-sl-3 > * {flex: 0 0 auto; width: 33.3333333333%;}
    .row-cols-sl-4 > * {flex: 0 0 auto; width: 25%;}
    .row-cols-sl-5 > * {flex: 0 0 auto; width: 20%;}
    .row-cols-sl-6 > * {flex: 0 0 auto; width: 16.6666666667%;}

    .col-sl {flex: 1 0 0%;}
    .col-sl-auto {flex: 0 0 auto; width: auto;}
    .col-sl-1  {flex: 0 0 auto; width: 8.33333333%;}
    .col-sl-2  {flex: 0 0 auto; width: 16.66666667%;}
    .col-sl-3  {flex: 0 0 auto; width: 25%;}
    .col-sl-4  {flex: 0 0 auto; width: 33.33333333%;}
    .col-sl-5  {flex: 0 0 auto; width: 41.66666667%;}
    .col-sl-6  {flex: 0 0 auto; width: 50%;}
    .col-sl-7  {flex: 0 0 auto; width: 58.33333333%;}
    .col-sl-8  {flex: 0 0 auto; width: 66.66666667%;}
    .col-sl-9  {flex: 0 0 auto; width: 75%;}
    .col-sl-10 {flex: 0 0 auto; width: 83.33333333%;}
    .col-sl-11 {flex: 0 0 auto; width: 91.66666667%;}
    .col-sl-12 {flex: 0 0 auto; width: 100%;}

    .offset-sl-0  {margin-left: 0;}
    .offset-sl-1  {margin-left: 8.33333333%;}
    .offset-sl-2  {margin-left: 16.66666667%;}
    .offset-sl-3  {margin-left: 25%;}
    .offset-sl-4  {margin-left: 33.33333333%;}
    .offset-sl-5  {margin-left: 41.66666667%;}
    .offset-sl-6  {margin-left: 50%;}
    .offset-sl-7  {margin-left: 58.33333333%;}
    .offset-sl-8  {margin-left: 66.66666667%;}
    .offset-sl-9  {margin-left: 75%;}
    .offset-sl-10 {margin-left: 83.33333333%;}
    .offset-sl-11 {margin-left: 91.66666667%;}
    
    .sl-hide {display: none !important;}
}

/** Super extra large (sel) **/
@media (min-width: 3400px) {
    .container {max-width: 1900px;}

    .row-cols-sel-auto > * {flex: 0 0 auto; width: auto;}
    .row-cols-sel-1 > * {flex: 0 0 auto; width: 100%;}
    .row-cols-sel-2 > * {flex: 0 0 auto; width: 50%;}
    .row-cols-sel-3 > * {flex: 0 0 auto; width: 33.3333333333%;}
    .row-cols-sel-4 > * {flex: 0 0 auto; width: 25%;}
    .row-cols-sel-5 > * {flex: 0 0 auto; width: 20%;}
    .row-cols-sel-6 > * {flex: 0 0 auto; width: 16.6666666667%;}

    .col-sel {flex: 1 0 0%;}
    .col-sel-auto {flex: 0 0 auto; width: auto;}
    .col-sel-1  {flex: 0 0 auto; width: 8.33333333%;}
    .col-sel-2  {flex: 0 0 auto; width: 16.66666667%;}
    .col-sel-3  {flex: 0 0 auto; width: 25%;}
    .col-sel-4  {flex: 0 0 auto; width: 33.33333333%;}
    .col-sel-5  {flex: 0 0 auto; width: 41.66666667%;}
    .col-sel-6  {flex: 0 0 auto; width: 50%;}
    .col-sel-7  {flex: 0 0 auto; width: 58.33333333%;}
    .col-sel-8  {flex: 0 0 auto; width: 66.66666667%;}
    .col-sel-9  {flex: 0 0 auto; width: 75%;}
    .col-sel-10 {flex: 0 0 auto; width: 83.33333333%;}
    .col-sel-11 {flex: 0 0 auto; width: 91.66666667%;}
    .col-sel-12 {flex: 0 0 auto; width: 100%;}

    .offset-sel-0  {margin-left: 0;}
    .offset-sel-1  {margin-left: 8.33333333%;}
    .offset-sel-2  {margin-left: 16.66666667%;}
    .offset-sel-3  {margin-left: 25%;}
    .offset-sel-4  {margin-left: 33.33333333%;}
    .offset-sel-5  {margin-left: 41.66666667%;}
    .offset-sel-6  {margin-left: 50%;}
    .offset-sel-7  {margin-left: 58.33333333%;}
    .offset-sel-8  {margin-left: 66.66666667%;}
    .offset-sel-9  {margin-left: 75%;}
    .offset-sel-10 {margin-left: 83.33333333%;}
    .offset-sel-11 {margin-left: 91.66666667%;}

    .sel-hide {display: none !important;}
}